.movie-container {
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 30px;
	padding: 30px;
}

.mat-mdc-card {
	box-shadow: none;
}

.movie-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.title-style {
	padding: 20px;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.details-info {
	display: flex;
	margin-top: 5px;
	
}

.more-info {
	margin: 1.5px;
	align-self: center;
	position: relative;
	right: -5px;
}

.bg-color {
	background-color: black;
	border-radius: 10px;
	padding: 30px;
}

.nonfav-btn {
	color: white;
	transform: scale(1.5);
}

.fav-btn {
	color: red;
	transform: scale(1.5);
}