.main-container {
	padding: 26px;
	display: flex;
	flex-direction: column;
  }

  .profile-form {
	mat-form-field {
	  width: 100%;
	}
  }

  .heading-info {
	align-self: center;
  }

  .spacer {
	flex: 1 1 auto;
  }

  .flex {
	display: flex;
  }

  .movie-title {
	color: black;
  }

  .movie-container {
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 30px;
	padding: 20px;
}

.title-style {
	padding: 20px;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.movie-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details-info {
	display: flex;
	padding: 30px;
}

.more-info {
	margin: 5px;
}

.nonfav-btn {
	color: white;
}

.fav-btn {
	color: red;
}

.bg-color {
	background-color: black;
	border-radius: 10px;
}