<div class="main-container">
	<div class="heading-info">
		<h1>Hello {{user.Username}}</h1>
		<div class="field-container">
			<div>
				<p>Current Username: {{ user.Username }}</p>
				<p>Current Email: {{ user.Email }}</p>
			</div>
		</div>
		<mat-card>
			<mat-card-content>
				<form class="profile-form">
					<mat-form-field>
						<input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text"
							name="Username" required>
					</mat-form-field>
					<mat-form-field>
						<input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password"
							name="Password" required>
					</mat-form-field>
					<mat-form-field>
						<input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email"
							required>
					</mat-form-field>
					<mat-card-actions>
						<button mat-raised-button (click)="updateUser()" color="primary">
							Update Settings
						</button>
						<span class="spacer"></span>
						<button mat-fab (click)="deleteUser()" color="warn">
							Delete User
						</button>
					</mat-card-actions>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
	<h2>Favorite Movies</h2>
	<div class="movie-container">
		<mat-card *ngFor="let movie of FavoriteMovies">
			<mat-dialog-content>
				<mat-card-title class="title-style">{{movie.Title}}</mat-card-title>
				<mat-card-subtitle><img style="width: 150px;" src={{movie.ImagePath}} /></mat-card-subtitle>
				<div class="details-info">
					<button mat-raised-button (click)="openGenreInfo(movie.Genre)" color="primary"
						class="more-info">Genre</button>
					<button mat-raised-button (click)="openDirectorInfo(movie.Director)" color="primary"
						class="more-info">Director</button>
					<button mat-raised-button (click)="openMovieDescription(movie.Description)" color="primary"
						class="more-info">More
						Details!</button>
					<button *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavoriteMovie(movie._id)"
						mattooltip="Added to favorites">
						<mat-icon>favorite_border</mat-icon>
					</button>
					<button *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavoriteMovie(movie._id)"
						mattooltip="Removed from favorites">
						<mat-icon>favorite</mat-icon>
					</button>
				</div>
			</mat-dialog-content>
		</mat-card>
	</div>

</div>